* {
    font-family: Consolas, "lucida Grande", Verdana, "Microsoft YaHei";
}
body {
    width: 55em;
    margin-top: 10px;
    margin-right: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.markdown-body {
    line-height: 1.5;
}
.markdown-body p,
.markdown-body li {
    font-size: 14px;
}
.markdown-body li>p {
    margin: 10px 0;
}
.markdown-body .codehilite pre,
.markdown-body pre,
tspan {
    font-size: 12px;
}

/* H title*/

.markdown-body h1 {
    color: #009193;
    border-bottom: none;
}
.markdown-body h2 {
    color: #009193;
    border-bottom: 1px solid #009193;
    font-size: 24px;
}
.markdown-body h3,
.markdown-body h4,
.markdown-body h5 {
    color: #6C8C37;
    font-size: 20px;
}
.markdown-body h4 {
    font-size: 18px;
}

/* Task */

.task-list-item {
    font-size: 14px;
}
.task-list-item p {
    margin-bottom: 4px;
}

/* Toc */

div.toc {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
div.toc b {
    border-bottom: 1px solid #EDF3DE;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.toc li {
    line-height: 1.5;
}
div.toc ul {
    padding-left: 1.1em;
}
div.toc a {
    font-size: 14px;
    color: #6C8C37;
}
div.toc a:hover {
    text-decoration: none;
    color: #009193;
}

/* zTree*/

div.zTreeDiv {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 400px;
    max-width: 400px;
    overflow: hidden;
}
div.zTreeDiv li {
    line-height: 1.5;
}
div.zTreeDiv b {
    border-bottom: 1px solid #EDF3DE;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* SVG */

.uml-sequence-diagram,
.uml-flowchart {
    padding: 5px 15px;
    border-radius: 3px;
    margin: 5px 0;
    background: #f7f7f7;
}
svg tspan.gd {
    fill: #0086b3;
    font-weight: bold;
}

/* diagram */

.actor rect {
    rx: 5;
    ry: 5;
    stroke: #CCCCFF;
    fill: #ECECFF;
}
.uml-sequence-diagram line {
    stroke: #c1c1cc;
}
.uml-sequence-diagram .signal line {
    stroke: #a2a2d6;
}

/* flowchart */

.uml-flowchart rect {
    stroke: #ccc;
    fill: #eee;
    stroke-width: 2;
}
.uml-flowchart path.flowchart {
    stroke: #CCCCFF;
    fill: #ECECFF;
}
.uml-flowchart path,
.uml-flowchart rect {
    stroke-width: 2;
}
